.vs

# compiled files
obj
bin
# user files
.user
.suo
/Slickflow.Designer/Properties/PublishProfiles/*.user
/Slickflow.WebApi/Properties/PublishProfiles/*.user
/Slickflow.WebApi/Properties/PublishProfiles/*.pubxml
/Slickflow.Engine
/Slickflow.Data
/Slickflow.Module.Resource
/Slickflow.Module
# /NETBPMFlow.Data
# /NETBPMFlow.Designer
# /NETBPMFlow.Engine
# /NETBPMFlow.Module
# /NETBPMFlow.Module.Resource
