<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WfDBConnectionString" connectionString="Data Source=DESKTOP-RUICF5M\\SQLEXPRESS1;Initial Catalog=WfDBCoreCommunity;Integrated Security=False;User ID=sa;Password=123456;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="false" />
  </system.webServer>
</configuration>